html, body{
  height: 100%;
}

body{
  font-size:62.5%;
  color: #e8e8e8;
  text-shadow: 0 1px 0 #111;
  background: #333;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
  color:#b8b8b8;
  text-decoration: none;
  border-bottom: 1px dotted #b8b8b8;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
a:hover, a:focus{
  border-bottom: 1px solid #e8e8e8;
  color: #e8e8e8;
}

header h1{
  color:#fff;
  text-shadow: 0 0 10px #e8e8e8, 0 0 20px #e8e8e8, 0 0 30px #e8e8e8, 0 0 40px #00aaff, 0 0 70px #ff00de, 0 0 80px #00aaff, 0 0 100px #00aaff, 0 0 150px #00aaff;
  font-family: "Arial Rounded MT Bold";
  font-size:9.6em;
  padding:0.5em 0;
  text-align: center;
}

#main{
  max-width: 960px;
  margin: 0 auto;
}

#main p{
  font-size:1.6em;
  margin-bottom:0.5em;
}

#main video{
  margin:0 auto;
  display: block;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
}

footer p{
  text-align: center;
  font-size: 1.6em;
}